body{
    font-family:verdana;
    background-color:yellow;
}
h1{
    color:orange;
    font-size:20px;
    text-align:center;
}
li{
    list-style: none;
    font-size: 15px;
}
.enlace{
    text-decoration:none;
    padding:10px;
    font-weight:300;
    font-size: 15px;
    color:#FFFFFF;
    text-decoration:none;
    background-color: orange;
    border-radius: 8px;
    border: 2px;
}
.enlace:link {
        color:red;
      }
.enlace:hover {
    color:green;
    text-decoration:none;
}
.enlace:visited {
    color:yellow;
}
.enlace:active {
    color:lime;
}
